* {
    box-sizing: border-box;
}

:root {
    --font-sen: "Sen", sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 9999px;
    background: #171100;
    padding: 0 16px;
    line-height: 50px;
}

.btn:hover {
    opacity: 0.9;
}

/* Header */

.header {
    background-color: #FFFCF4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 21px;
    position: relative;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600px; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .signup-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */

.hero {
    padding: 56px 0 65px;
    background-color: #FFFCF4;

}

.hero .body {
    display: flex;
}

/* Hero left */

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    display: block;
    height: 685px;
    width: 470px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    width: 270px;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .hero-summary .item + .item {
    margin-top: 22px;
}

.hero .hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF9E8;
}

.hero .hero-summary .item:nth-child(2) .icon {
    background-color: #FCEFFF;
}

.hero .hero-summary .item:nth-child(3) .icon {
    background-color: #EBEAFF;
}

.hero .hero-summary .info {
    margin-left: 16px;
}

.hero .hero-summary .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.hero .hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6666; /* 166.667% */
}

/* Hero right */

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .heading {
    color: #171100;
    font-family: var(--font-sen);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17241; /* 117.241% */
    letter-spacing: -1.16px;
}

.content-block .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.666666; /* 166.667% */
}

.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.content-block .hero-cta {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
}

.content-block .watch-video {
    border: none;
    background-color: transparent;
    display: flex;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}

.content-block .watch-video .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.content-block .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 14px;
}

.content-block .stats {
    margin: 8px 0 0 -28px;
}

.content-block .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-sen);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}