* {
    box-sizing: border-box;
}

:root {
    --font-sen: "Sen", sans-serif;
    --primary-color: #FFB900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 9999px;
    background: #171100;
    padding: 0 16px;
    line-height: 50px;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    color: #171100;
    font-family: var(--font-sen);
    line-height: 1.17241; /* 117.241% */
    letter-spacing: -1.16px;
}

.heading.lv1 {
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17241; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26316; /* 126.316% */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
}

/* Header */

.header {
    background-color: #FFFCF4;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 8px 21px;
    position: relative;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600px; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .signup-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */

.hero {
    padding: 56px 0 65px;
    background-color: #FFFCF4;

}

.hero .body {
    display: flex;
}

/* Hero left */

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    display: block;
    height: 685px;
    width: 470px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    width: 270px;
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .hero-summary .item + .item {
    margin-top: 22px;
}

.hero .hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF9E8;
}

.hero .hero-summary .item:nth-child(2) .icon {
    background-color: #FCEFFF;
}

.hero .hero-summary .item:nth-child(3) .icon {
    background-color: #EBEAFF;
}

.hero .hero-summary .info {
    margin-left: 16px;
}

.hero .hero-summary .label {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.hero .hero-summary .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6666; /* 166.667% */
}

/* Hero right */

.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.content-block .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.666666; /* 166.667% */
}

.content-block .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.content-block .hero-cta {
    min-width: 180px;
    background-color: var(--primary-color);
    line-height: 64px;
}

.content-block .watch-video {
    border: none;
    background-color: transparent;
    display: flex;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}

.content-block .watch-video .icon {
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.content-block .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 14px;
}

.content-block .stats {
    margin: 8px 0 0 -28px;
}

.content-block .stats strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-sen);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

/* Popular */

.popular {
    padding: 65px;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66666666; /* 166.667% */
}

.popular-top .control {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.popular-top .control-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.popular .course-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.course-item {
    width: 370px;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
    flex: 1;
}

.course-item:hover {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.1);
    border-color: transparent;
    cursor: pointer;
}

.course-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.course-item .info {
    padding: 16px 22px 22px;
}

.course-item .info .foot,
.course-item .info .rating,
.course-item .info .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .info .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    padding-right: 8px;
    line-height: 1.6666; /* 166.667% */
}

.course-item .info .rating .value {
    color: var(--primary-color);
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.course-item .info .desc {
    margin-top: 6px;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}

.course-item .info .foot {
    margin-top: 12px;
}

.course-item .info .foot .price {
    color: #171100;
    font-size: 1.8;
    font-weight: 600;
    line-height: 1.6666; /* 166.667% */
}

.course-item .info .foot .book-btn {
    border: none;
}

.course-item .info .foot .book-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

/* Feedback */

.feedback {
    margin-top: 135px;
    background-color: #2E2100;
    padding: 96px 0;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

.feedback-item .info .avatar {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .name {
    margin-top: 18px;
    color: #F7F7F7;
    font-family: var(--font-sen);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
}

.feedback-item .info .desc {
    margin-top: 4px;
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.feedback-item .info .dots {
    margin-top: 28px;
    display: flex;
}

.feedback-item .info .dots .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #634700;
    cursor: pointer;
}

.feedback-item .info .dots .dot.active {
    background-color: var(--primary-color);
    cursor: default;
}

.feedback-item .feedback-content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.53846; /* 153.846% */
}

/* Features */

.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .body .images{
    display: flex;
    gap: 0 30px;
}

.features .body .images img:first-child {
    margin-top: 34px;
}

.features .body .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .feature-content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .feature-content .desc {
    margin-top: 16px;
    color: #5F5B53;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.features .feature-content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background-color: var(--primary-color);
}

.features-2 {
    margin-top: 70px;
}

.features-2 .body {
    flex-direction: row-reverse;
}

.features-2 .body .feature-content {
    width: 48.7%;
}

.features-2 .body .images img {
    width: 470px;
    height: 440px;
}

/* Blog */

.blog {
    margin-top: 135px;
    padding: 96px 0;
    background-color: #FFFCF4;
}

.blog .head-blog {
    text-align: center;
}

.blog .head-blog .desc {
    margin: 16px auto 0;
    color: #696262;
    width: 448px;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.blog .blog-content .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 0 30px;
}

.blog-content .blog-item {
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    width: calc(33.33% - 20px);
}

.blog-content .blog-item:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.blog-content .blog-item img {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}

.blog-content .item-content {
    padding: 20px 20px 28px;
}

.blog-content .item-content .year {
    display: flex;
    align-items: center;
}

.blog-content .item-content .dot-year {
    background-color: var(--primary-color);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 4px;
}

.blog-content .item-content .time {
    color: #5F5B53;
    font-size: 1.4rem;
}

.blog-content .item-content .separate {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
}

.blog-content .item-content .title {
    margin-top: 12px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.blog-content .item-content .cta-btn {
    margin-top: 12px;
    border-color: transparent;
    font-size: 1.4rem;
}

.blog-content .item-content .cta-btn:hover {
    background-color: var(--primary-color);
}

.blog-content .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 0 6px;
}

.blog-content .dots .dot {
    width: 6px;
    height: 6px;    
    border-radius: 6px;
    background-color: #5F5B53;
}

.blog-content .dots .dot.active {
    background-color: var(--primary-color);
}

/* Footer */

.footer {
    padding: 96px 0 28px;
    background-color: #2E2100;
}

.footer .body {
    display: flex;
}

.footer .introduce {
    width: 22.8%;
    margin-right: 145px;
}

.footer .introduce .desc {
    margin-top: 18px;
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.85714; /* 185.714% */
}

.footer .introduce .link {
    margin-top: 18px;
    display: flex;
    gap: 0 18px;
}

.footer .footer-content {
    display: flex;
}

.footer .footer-content .info {
    margin-right: 130px;
}

.footer .footer-content .info:last-child {
    margin-right: 0;
}

.footer .footer-content .info .title {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
}

.footer .footer-content .info .separate {
    margin-top: 14px;
    width: 130px;
    height: 1px;
    background-color: #59554B;
}

.footer .footer-content .info .desc {
    margin-top: 12px;
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.85714; /* 185.714% */
}

.footer .footer-content .info .desc strong {
    color: #FFF;
    font-weight: 600;
}

.footer .footer-content .info .desc-top{
    margin-top: 28px;
}

.footer .footer-separate {
    background-color: #59554B;
    height: 1px;
    margin-top: 38px;
}

.footer .copyright {
    margin-top: 28px;
    color: #807D74;
    text-align: center;
    font-size: 1.4rem;
    line-height: 26px; /* 185.714% */
}
